* {
  box-sizing: border-box;
}

html {
  font-family: "Quicksand-Reg", Arial, Helvetica, sans-serif;
  font-size: 16px;
  scroll-behavior: smooth;
  color: rgb(32, 32, 32);
}

body {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  font-family: inherit;
  cursor: pointer;

  * {
    pointer-events: none;
  }
}

li {
  list-style: none;
}

input {
  font-family: inherit;
  text-align: inherit;
}

// MAC like scrollbar
::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 100px;
}

::-webkit-scrollbar:hover {
  background-color: rgba(0, 0, 0, 0.09);
}

::-webkit-scrollbar-thumb:vertical {
  background: rgba(0, 0, 0, 0.5);
  border-radius: 100px;
}

::-webkit-scrollbar-thumb:vertical:active {
 border-radius: 100px;
}

.back-drop-layer {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.473);
}
